
<% posts.forEach((post)=>{ %>
    <div class="section">
     
        <div class="row">
            <div class="col s12" >
             
              <div class="card z-depth-1 white">
               
                <div class="card-content" style="max-height: 400px; overflow: hidden;">
                  <!-- <div class="card-image"> -->
                    <!-- <img src="/uploads/myImage-1599051797934.jpg" > -->
                  <span class="card-title"><h4 class="blue-text text-darken-5"><a href="../userProfile/<%=post.user%>"><%=post.author %></a></h4> on <%=post.postDate %> wrote:</span>
                  <!-- </div> -->
                  <div class="divider" ></div>
                  <div class="card-image" >
                    <h4 class="text-darken-5"><%=post.postTitle %></h4> 
                    <img class="responsive-img" src="/uploads/<%=post.postImage%>" alt="post image" >
                  </div>
                 
                  <p style="white-space:pre-line"><%=post.postContent  %></p>
                </div> 
                <div class="card-action">
                  <a href="../postOpen/<%=post._id%>">Read</a>
                </div>
             
              </div>
      
            </div>
          </div>
       
    </div>

    <%}) %>
